body, html {
  background-color: $background;
}

hr {
  display: block;
  border: 1px solid $primary_light;
}

.full-page {
  min-height: 85vh;
  width: 100%;

  @include media-min($large) {
    min-height: 90vh;
  }
}

section {
  padding: $padding-bottom;
}

.container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: $padding-xy;
}
