.activity-image-cover {
  height: 240px;

}

.activity-image-location {
  height: 200px;
  @include media-min($medium) {
    height: 240px;
  }
}

.activity-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 240px;
  @include media-min($medium) {
    height: 320px;
  }
  @include media-min($large) {
    height: 400px;
  }
  @include media-min($x_large) {
    height: 480px;
  }
}

.activity-main-infos {
  display: flex;
  flex-direction: column;
  p {
    margin: 0 0 0 8px;
  }
  @include media-min($medium) {
    p{
      margin: 0 0 0 12px;
    }
  }
  @include media-min($large) {
    p{
      margin: 0 0 0 16px;
    }
  }
  &>div {
    display: flex;
    align-items: center;
  }
  &>div:first-of-type {
    margin-bottom: 8px;
  }
}
